* {
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    height: auto;
    max-width: 100%;
    object-fit: cover;
}

html {
    overflow-y: scroll;
    overflow-x: hidden;
}

body {
    background-image: url('../media/images/drum-set.jpg');
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    height: 100vh;
    width: 100%;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.822);
}

.container {
    position: relative;
    top: 20vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 100%;
    margin: 0 auto;
}

.title-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    text-decoration: underline;
    top: 10vh;
    font-size: 2vw;
    color: white;
}

.container .key {
    text-align: center;
    height: 12vh;
    width: 7vw;
    padding: 2vh 0vw;
    margin: 5vh 5vw;
    border: 1px solid black;
    background-color: white;
    cursor: pointer;
}

.container .key:hover {
    border: 5px solid yellow;
}

.container .key span {
    font-size: 2vw;
    font-weight: bold;
}

.container .key p {
    padding: 3.5vh 0;
    font-size: 1.5vw;
    color: white;
}

.container .audio-container {
    display: none;
}

.currently-playing {
    border: 5px solid yellow !important;
}

.footer {
    position: relative;
    top: 30vh;
    display: flex;
    justify-content: center;
}

.footer span i {
    margin: 0 1vw;
    font-size: 3vw;
    color: white;
}

.footer p {
    font-size: 1.2vw;
    text-align: center;
    color: rgb(0, 136, 255);
}

.container .key,
.footer span i,
.footer p {
    transition: 0.2s linear 0s;
}

.container .footer {
    z-index: 1;
}

.container .key:hover,
.footer p:hover,
.footer p:active {
    transform: scale(1.1);
}

.footer p:hover,
.footer p:active {
    color: yellow;
}

.footer span i:hover,
.footer span i:active {
    color: yellow;
    transform: scale(1.2);
}