* {
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    height: auto;
    max-width: 100%;
    object-fit: cover;
}

body {
    background-image: url('../media/images/drum-set.jpg');
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.822);
}

.container {
    position: relative;
    top: 20vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 100%;
    margin: 0 auto;
}

.title-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    text-decoration: underline;
    top: 10vh;
    font-size: 2vw;
    color: white;
    z-index: 1;
}

.container .key {
    height: 12vh;
    width: 7vw;
    padding: 2vh 2vw;
    margin: 3vh 5vw;
    border: 1px solid black;
    background-color: white;
    cursor: pointer;
    z-index: 1;
    transition: 0.2s linear 0s;
}

.container .key:hover {
    transform: scale(1.1);
    border: 2px solid yellow;
}

.container .key span {
    font-size: 2vw;
    font-weight: bold;
}

.container .audio-container {
    display: none;
}

.currently-playing {
    border: 5px solid yellow !important;
}